*{
    box-sizing: border-box;
    /* border: none; */
    margin: 0;
    padding: 0;
}
.menu{
    list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: white;
}
ul{
    list-style: none;
    padding-left: 0;
}
.menu li{
    display: inline-block;
    margin-right: -4px;
}
.menu li:after{
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
}
.menu-main li:last-child:after {
    content: none;
}
.menu a{
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}
.menu a, .menu a:visited{
    color: #9d999d;
}
.menu a.current, .menu a:hover{
    color: #e1e1d0;
}
.menu a:before, .menu a:after{
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #e1e1d0;
    transition: 0.5s;
}
.menu a:hover:before, .menu .current:before {left: 0;}
.menu a:hover:after, .menu .current:after {right: 0;}   
.logo{
    text-align: center;
}   
img{
    /* border: none; */
    height: 800px;
    width: 100%;
    position: relative;
    object-fit: cover;
}
h1{
    cursor: default;
    font-family: 'Comfortaa', cursive;
    color: antiquewhite;
    font-size: 91px;
    display: inline-block;
    position: absolute;
    width: 100%;
    margin-top: 300px;
    left: 0;
}
h3{
    display: none;
}